.header-fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.2); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    z-index: 1000;
    transition: background-color 0.3s ease, left 0.3s ease, width 0.3s ease;
    box-sizing: border-box;
  }
  .header-fixed > div{
    flex: 1 1 auto;
  }
  .header-right{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  