body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidebar .menu-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 14px;
}

.sidebar .nav-link i {
  font-size: 1.2rem;
  margin-right: 20px;
}

.sidebar.collapsed .nav-link span {
  display: none; /* Ẩn chữ khi thu nhỏ */
}

.sidebar.collapsed .nav-link i {
  margin: 0;
}

.sidebar {
  background-color: white;
  transition: all 0.3s ease-in-out;
  height: 100vh;
}

.sidebar.collapsed{
  width: 70px;
  /* flex: 1; */
  overflow: hidden;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
}

.sidebar.collapsed .nav-link span {
  display: none;
}

.content {
  flex: 1;
  transition: all 0.3s ease-in-out;
  background-color: #f7f7f7;
  overflow-y: auto; /* Chỉ cho phép cuộn theo chiều dọc */
  overflow-x: hidden; /* Ẩn cuộn ngang nếu có */
  height: 100vh; /* Đảm bảo content chiếm toàn bộ chiều cao */
}

/* Khi Sidebar thu nhỏ thì content mở rộng */
.content.expanded ~ .content .header{
  width: calc(100% - 70px);
  flex: 1;
}

/* Khi mục được chọn (Bootstrap tự động thêm class 'active') */
.nav-link.active {
  background-color: rgba(0, 0, 0, 0.2) !important; /* Đổi màu nền */
  color: #333 !important;
  border-radius: 5px;
}