.accordion-item{
    border-radius: 30px !important;
    overflow: hidden;
  }
  .accordion-header button{
    font-weight: 600 !important;
}
.nowshowing, .styleimax{
  border: 1px solid rgb(0, 112, 0);
  color: rgb(0, 112, 0);
  background-color: rgba(0, 150, 0, 0.2);
  padding:3px 5px;
  border-radius: 5px;
  font-size: 13px;
}
.completed{
  border: 1px solid rgb(160, 0, 0);
  color: rgb(160,0 , 0);
  background-color: rgba(160, 0, 0, 0.2);
  padding:3px 5px;
  border-radius: 5px;
  font-size: 13px;
}
.nowshowing, .style2d{
  border: 1px solid rgb(205, 219, 0);
  color: rgb(205, 219, 0);
  background-color: rgba(200, 150, 0, 0.2);
  padding:3px 5px;
  border-radius: 5px;
  font-size: 13px;
}
.commingsoon, .style3d{
  border: 1px solid rgb(0, 150, 219);
  color: rgb(0, 150, 219);
  background-color: rgba(0, 150, 220, 0.2);
  padding:3px 5px;
  border-radius: 5px;
  font-size: 13px;
}
.screening{
  border: 1px solid rgb(220, 135, 0);
  color: rgb(220, 135, 0);
  background-color: rgba(220, 130, 0, 0.2);
  padding:3px 5px;
  border-radius: 5px;
  font-size: 13px;
}
.translator{
  border: 1px solid #555;
  color: #333;
  background-color: rgba(0, 0, 0, 0.2);
  padding:3px 5px;
  border-radius: 5px;
  font-size: 13px;
}
